.portlet-barebone {

  .portlet-topper,
  .portlet-content {
    border: none;
  }

  .portlet-title-text {
    display: none;
  }

}

.custom-admin-controls-open {
  .portlet > .portlet-topper {
    z-index: 9999;
  }  
}



.portlet-journal-content {
  .portlet-content {
    //padding: 0;

    .portlet-body {
      //padding: 0;
    }

  }
}
